<%= form_for @food, html: {class: 'edit-food'} do |f| %>
  <p><%= f.label :name, "New food name" %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :oxalate_mg, "Oxalates per serving (mg)" %></p>
  <p><%= f.number_field :oxalate_mg, step: "any" %></p>
  <p><%= f.label :serving %></p>
  <p><%= f.text_field :serving %></p>

  <p><%= f.submit "Add" %></p>
<% end %>
