<!DOCTYPE html>
<html>
<head>
  <title>Oxalates</title>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('apple-touch-icon-120x120.png') %>"/>
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('apple-touch-icon-152x152.png') %>"/>
</head>
<body>
<div id="root"></div>
<%= javascript_tag do %>
  window.initialState = {
    lists: [<% all_lists.each do |list| %>
      <%= raw json_escape(list_as_json_for_state(list)) %>,
    <% end %>],
  };
<% end %>
<%= javascript_pack_tag 'application' %>
</body>
</html>
