<!DOCTYPE html>
<html>
<head>
  <title>Oxalates</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('apple-touch-icon-120x120.png') %>"/>
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('apple-touch-icon-152x152.png') %>"/>

  <%= stylesheet_link_tag "application" %>
</head>

<body>
<div id="root"></div>
<%= javascript_tag do %>
  window.initialState = {
    listMenu: {
      lists: [<% all_lists.each do |list| %>
        <%= raw json_escape(list_as_json_for_state(list)) %>,
      <% end %>],
      activeListId: '<%= all_foods_list.id %>',
    },
  };
<% end %>
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</body>
</html>
